// Navigation code here

.navbar {

  h2 {
    padding: 15px;
    font-size: 44px;
    text-align: center;
  }

  p {
    padding:0 15px;
  }

}

nav {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}
